### Task 8 Solution

In [1]:
import pandas as pd
from haversine import haversine, Unit
from datetime import timedelta
import itertools
from shapely.geometry import Polygon
from utils.utils import *
import os

connection_string = f"mysql+mysqlconnector://{os.environ.get('DB_USER')}:{os.environ.get('DB_PASSWORD')}@tdt4225-10.idi.ntnu.no:3306/default_db"

In [4]:
sql_query = """

    SELECT a.user_id, tp.activity_id, tp.date_time, tp.lat, tp.lon
    FROM activity a JOIN track_point tp ON a.id = tp.activity_id
"""

tp_df = query_to_dataframe(connection_string, sql_query)
tp_df

        user_id        activity_id           date_time        lat         lon
0           000  20081023025304000 2008-10-23 02:53:10  39.984683  116.318450
1           000  20081023025304000 2008-10-23 02:53:15  39.984686  116.318417
2           000  20081023025304000 2008-10-23 02:53:20  39.984688  116.318385
3           000  20081023025304000 2008-10-23 02:53:25  39.984655  116.318263
4           000  20081023025304000 2008-10-23 02:53:30  39.984611  116.318026
...         ...                ...                 ...        ...         ...
9555432     181  20080314025755181 2008-03-14 03:39:56  40.914867  111.710500
9555433     181  20080314025755181 2008-03-14 03:41:17  40.914267  111.710333
9555434     181  20080314025755181 2008-03-14 03:43:02  40.912467  111.710667
9555435     181  20080314025755181 2008-03-14 03:43:28  40.911517  111.711317
9555436     181  20080314025755181 2008-03-14 03:43:40  40.910933  111.711617

[9555437 rows x 5 columns]

In [5]:
tp_dict = (tp_df.groupby(['user_id', 'activity_id'])
                .apply(lambda x: x[['date_time', 'lat', 'lon']].values.tolist())
                .to_dict())

In [6]:
sql_query = """

    SELECT a.user_id, a.id, a.start_date_time, a.end_date_time
    FROM activity a 
"""

activity_df = query_to_dataframe(connection_string, sql_query)
activity_df

      user_id                 id     start_date_time       end_date_time
0         163  20000101231219163 2000-01-01 23:12:19 2000-01-01 23:15:23
1         142  20070412093132142 2007-04-12 09:31:32 2007-04-12 11:33:40
2         161  20070412101853161 2007-04-12 10:18:53 2007-04-12 10:23:15
3         163  20070412102116163 2007-04-12 10:21:16 2007-04-12 14:56:56
4         161  20070412102325161 2007-04-12 10:23:25 2007-04-12 10:26:25
...       ...                ...                 ...                 ...
16043     163  20120724204557163 2012-07-24 20:45:57 2012-07-24 22:01:15
16044     163  20120725080203163 2012-07-25 08:02:03 2012-07-25 08:26:13
16045     163  20120725190300163 2012-07-25 19:03:00 2012-07-25 19:55:08
16046     163  20120726080106163 2012-07-26 08:01:06 2012-07-26 08:27:24
16047     163  20120727080700163 2012-07-27 08:07:00 2012-07-27 08:31:20

[16048 rows x 4 columns]

### Find overlapping time-intervals 

This cells below is all functions to extract the activites or trackpoints which overlaps on their timeintervall including a buffer of 30 seconds on each side of the interval

In [120]:

#Extract the first and last registation by each user
def create_user_first_last_times(activity_df):
    user_first_last_times = activity_df.groupby('user_id').agg(
        first_registered_time=pd.NamedAgg(column='start_date_time', aggfunc='min'),
        last_registered_time=pd.NamedAgg(column='end_date_time', aggfunc='max')
    ).reset_index()

    return user_first_last_times

#Finds the overlapping time intervals for each unique pair of user combination based on their first/last registred times
def find_overlap_time_intervals(user_first_last_times):
    overlaps = {}

    # Create unique pairs of users
    unique_user_ids = user_first_last_times['user_id'].unique()
    user_id_pairs = list(itertools.combinations(unique_user_ids, 2))

    for user1_id, user2_id in user_id_pairs:
        user1_data = user_first_last_times[user_first_last_times['user_id'] == user1_id].iloc[0]
        user2_data = user_first_last_times[user_first_last_times['user_id'] == user2_id].iloc[0]

        overlap_start = max(user1_data['first_registered_time'], user2_data['first_registered_time'])
        overlap_end = min(user1_data['last_registered_time'], user2_data['last_registered_time'])
        if overlap_start < overlap_end:
            overlaps[(user1_id, user2_id)] = (overlap_start, overlap_end)

    return overlaps

# Find the activities that overlap between a user pair and return them as a dictionary
def find_overlapping_activities(overlapping_user_time_intervals, activity_df, include_time = False):
    overlapping_activities = {}

    for (user1_id, user2_id), (overlap_start, overlap_end) in overlapping_user_time_intervals.items():
        user1_interval = list(activity_df[(activity_df["user_id"] == user1_id )& 
                            (
                            ((activity_df['start_date_time'] >= (overlap_start - timedelta(seconds=30))) &
                            (activity_df['start_date_time'] <= (overlap_end + timedelta(seconds=30)))) |

                            ((activity_df['end_date_time'] >= (overlap_start - timedelta(seconds=30))) &
                            (activity_df['end_date_time'] <= (overlap_end + timedelta(seconds=30))))
                            )
                            ].itertuples())
        
        user2_interval = list(activity_df[(activity_df["user_id"] == user2_id) & 
                            (
                            ((activity_df['start_date_time'] >= (overlap_start - timedelta(seconds=30))) &
                            (activity_df['start_date_time'] <= (overlap_end + timedelta(seconds=30)))) |
                            ((activity_df['end_date_time'] >= (overlap_start - timedelta(seconds=30))) &
                            (activity_df['end_date_time'] <= (overlap_end + timedelta(seconds=30))))
                            )
                            ].itertuples())
                
        overlapping_activities[(user1_id, user2_id)] = []

        for u1 in user1_interval:
            for u2 in user2_interval:
                overlap_start = max(u1.start_date_time, u2.start_date_time)
                overlap_end = min(u1.end_date_time, u2.end_date_time)

                if overlap_start < overlap_end:
                    if include_time == True: 
                        overlapping_activities[(user1_id, user2_id)].append((u1.id, u2.id, overlap_start, overlap_end))
                    else: 
                        overlapping_activities[(user1_id, user2_id)].append((u1.id, u2.id))

    return overlapping_activities

#Returns a dataframe with the trackpoints from the overlapping activities 
def get_matching_trackpoints_from_dict(tp_dict, overlapping_activities):
    matching_trackpoints = []

    for user_pair, activity_list in overlapping_activities.items():
        user_id_1, user_id_2 = user_pair

        for activity_info in activity_list:
            activity_id1, activity_id2, overlap_start, overlap_end = activity_info

            user1_trackpoints = tp_dict.get((user_id_1, activity_id1), [])
            user2_trackpoints = tp_dict.get((user_id_2, activity_id2), [])
            
           
            for trackpoint in user1_trackpoints:
                if ((trackpoint[0] >= overlap_start) and trackpoint[0] <= overlap_end): 
                    matching_trackpoints.append((user_id_1, activity_id1) + tuple(trackpoint))

            for trackpoint in user2_trackpoints:
                if ((trackpoint[0] >= overlap_start) and trackpoint[0] <= overlap_end):
                        matching_trackpoints.append((user_id_2, activity_id2) + tuple(trackpoint))

 
    merged_trackpoints = pd.DataFrame(matching_trackpoints, columns=['user_id', 'activity_id', 'date_time', 'lat', 'lon'])
    merged_trackpoints.drop_duplicates(subset=['activity_id', 'date_time'], inplace=True)
    return merged_trackpoints

### Find distance between boundary-boxes 

The functions below makes boundary boxes for the given activities and calculates the distance between the boxes. Those boxes larger than 50 meters gets excluded

In [141]:
#Finds the boundary boxes defined as the combined min/max combinations of lat and lon
import numpy as np

def find_activity_bounding_box(df):
    df = df.copy()
    new_df = df.groupby(['user_id', 'activity_id'])[['lat', 'lon']].agg(['min', 'max']).reset_index()
    
    def calculate_boundary_box(row):
        return [
            (row[('lat', 'min')], row[('lon', 'min')]),
            (row[('lat', 'min')], row[('lon', 'max')]),
            (row[('lat', 'max')], row[('lon', 'min')]),
            (row[('lat', 'max')], row[('lon', 'max')])
        ]

    new_df['bounding_box'] = new_df.apply(calculate_boundary_box, axis=1)
    # new_df.drop(columns=['lat', 'lon'], axis=1, inplace=True)
    
    return new_df

#Calculates the distance with 
def haversine_distance(point1, point2): 
    return haversine(point1, point2, unit=Unit.METERS)

def calculate_center_and_radius(bounding_box):
    polygon = Polygon(bounding_box)
    center = polygon.centroid
    radius = haversine_distance(center.coords[0], bounding_box[0])
    return center, radius

def calculate_distance_from_centers(center1, radius1, center2, radius2):
    distance = haversine_distance(center1.coords[0], center2.coords[0]) - radius1 - radius2
    return distance  

def calculate_distance_two_boxes(box_df, overlapping_activities_dict):
    box_df = box_df.copy()
    new_dict = overlapping_activities_dict.copy()
    for user_pair, activity_list in new_dict.items():
            user_id_1, user_id_2 = user_pair
            
            excluded_activities = []
            for activity_info in activity_list:
                try:
                    activity_id1, activity_id2 = activity_info
                    box1 = box_df[box_df["activity_id"] == activity_id1].bounding_box.values[0]
                    box2 = box_df[box_df["activity_id"] == activity_id2].bounding_box.values[0]
                    center1, rad1 = calculate_center_and_radius(box1)
                    center2, rad2 = calculate_center_and_radius(box2)
                    distance = calculate_distance_from_centers(center1, rad1, center2, rad2)
                    if distance >= 50:
                        excluded_activities.append(activity_info)
                except:
                    continue

            curr_activity_list = new_dict[user_pair]

            new_dict[user_pair] = [activity_pair for activity_pair in curr_activity_list if activity_pair not in excluded_activities]

    return new_dict

In [142]:
def get_overlapping_activites(activity_df, include_date_time): 
    activity_df = activity_df.copy()
    first_last_registration = create_user_first_last_times(activity_df)
    user_pair_overlap_times = find_overlap_time_intervals(first_last_registration)
    if include_date_time == True: 
        overlapping_activities = find_overlapping_activities(user_pair_overlap_times, activity_df, include_date_time)
    else: 
        overlapping_activities = find_overlapping_activities(user_pair_overlap_times, activity_df, include_date_time)   
    return overlapping_activities

In [143]:
def get_overlapping_activities_based_on_distance(tp_overlap_activities, overlapping_activities_dict): 
    box_df = find_activity_bounding_box(tp_overlap_activities) 
    matching_activites = calculate_distance_two_boxes(box_df, overlapping_activities_dict)
    return matching_activites

In [144]:
overlapping_activity_with_date_time = get_overlapping_activites( activity_df, True)

In [145]:
overlapping_activities_only = get_overlapping_activites(activity_df, False)

In [146]:
tp_from_overlapping_activities = get_matching_trackpoints_from_dict(tp_dict, overlapping_activity_with_date_time)

In [147]:
tp_from_overlapping_activities

         user_id        activity_id           date_time        lat         lon
0            000  20081023025304000 2008-10-23 09:42:30  40.004783  116.320388
1            000  20081023025304000 2008-10-23 09:42:35  40.004799  116.320545
2            000  20081023025304000 2008-10-23 09:42:40  40.004835  116.320683
3            000  20081023025304000 2008-10-23 09:42:45  40.004851  116.320835
4            000  20081023025304000 2008-10-23 09:42:50  40.004868  116.321010
...          ...                ...                 ...        ...         ...
20563439     174  20071211055512174 2007-12-11 06:08:17  39.971633  116.304733
20563486     176  20071208013029176 2007-12-08 03:15:01  39.971100  116.304933
20563487     176  20071208013029176 2007-12-08 03:15:54  39.970817  116.304250
20563488     176  20071208013029176 2007-12-08 03:16:57  39.970867  116.303250
20563489     176  20071208013029176 2007-12-08 03:17:35  39.970983  116.305600

[6742863 rows x 5 columns]

In [148]:
activity_overlap_dict = get_overlapping_activities_based_on_distance(tp_from_overlapping_activities, overlapping_activities_only)

In [165]:
tot_len = 0
for key, value in activity_overlap_dict.items():
    tot_len += len(value)

tot_len

13333

In [166]:
tot_len = 0
for key, value in overlapping_activities_only.items():
    tot_len += len(value)

tot_len

28312

In [175]:
import pandas as pd
import numpy as np
from haversine import haversine_vector, Unit

def match_track_points(activity_id: str, comp_activity_id: str, track_points_df: pd.DataFrame, verbose=False):
    activity_points = track_points_df[track_points_df["activity_id"] == activity_id]
    comp_activity_points = track_points_df[track_points_df["activity_id"] == comp_activity_id]
    
    if activity_points.empty or comp_activity_points.empty:
        return False

    df_cartesian = pd.merge(activity_points.assign(key=0), comp_activity_points.assign(key=0), on='key').drop('key', axis=1)

    distances = haversine_vector(df_cartesian[['lat_x', 'lon_x']].values, df_cartesian[['lat_y', 'lon_y']].values, unit=Unit.METERS)

    time_diffs = (df_cartesian['date_time_x'] - df_cartesian['date_time_y']).abs().dt.total_seconds()

    distance_condition = distances <= 50
    time_condition = time_diffs <= 30

    if verbose:
        matched_distances = df_cartesian.loc[distance_condition, ['date_time_x', 'date_time_y']]
        for _, row in matched_distances.iterrows():
            print(row['date_time_x'], row['date_time_y'], "Distance Matched")

        matched_times = df_cartesian.loc[time_condition, ['date_time_x', 'date_time_y']]
        for _, row in matched_times.iterrows():
            print(row['date_time_x'], row['date_time_y'], "Time Matched")
    
    # Check for rows satisfying both conditions
    return np.any(distance_condition & time_condition)

In [176]:
final_dict = activity_overlap_dict.copy()
final_dict = {key: value for key, value in final_dict.items() if len(value) > 0}

In [177]:
from itertools import islice
import concurrent.futures

MATCHED_PAIRS = {}

def process_item(item):
    user_pair = item
    activity_pairs = final_dict[item]
    for activity_pair in activity_pairs: 
        activity_id1, activity_id2 = activity_pair
        has_match = match_track_points(activity_id1, activity_id2, tp_df)
        if has_match == True:
            MATCHED_PAIRS[user_pair] = activity_pair
            break

with concurrent.futures.ThreadPoolExecutor() as executor:
    list(executor.map(process_item, final_dict))

In [178]:
MATCHED_PAIRS

{('000', '004'): ('20081029093038000', '20081029052125004'),
 ('000', '015'): ('20081112023003000', '20081112000936015'),
 ('000', '030'): ('20090412004905000', '20090412004858030'),
 ('000', '005'): ('20081115010133000', '20081115010304005'),
 ('000', '003'): ('20090330005208000', '20090330005208003'),
 ('001', '004'): ('20081111234235001', '20081112063539004'),
 ('001', '014'): ('20081029234123001', '20081029234245014'),
 ('001', '015'): ('20081111234235001', '20081112000936015'),
 ('001', '084'): ('20081104054859001', '20081104102003084'),
 ('001', '128'): ('20081114130723001', '20081114131233128'),
 ('003', '004'): ('20081023175854003', '20081023175852004'),
 ('003', '005'): ('20081027041826003', '20081027092607005'),
 ('003', '028'): ('20090210022307003', '20090210091805028'),
 ('003', '030'): ('20090208020837003', '20090208020851030'),
 ('003', '015'): ('20090303004756003', '20090303004804015'),
 ('003', '096'): ('20081115014037003', '20081115015705096'),
 ('003', '126'): ('20090114110149003', '20090114122432126'),
 ('003', '179'): ('20081115014037003', '20081115015705179'),
 ('004', '005'): ('20081106193827004', '20081106160526005'),
 ('003', '167'): ('20090114110149003', '20090114122432167'),
 ('004', '015'): ('20081029052125004', '20081028235159015'),
 ('004', '030'): ('20090112195936004', '20090113023222030'),
 ('004', '028'): ('20090224230528004', '20090224223025028'),
 ('004', '032'): ('20081216013032004', '20081216112008032'),
 ('004', '034'): ('20090313030256004', '20090313110440034'),
 ('004', '025'): ('20090313030256004', '20090313105308025'),
 ('004', '062'): ('20081207051527004', '20081207083840062'),
 ('004', '128'): ('20081208013636004', '20081208115031128'),
 ('005', '030'): ('20090224010335005', '20090224003703030'),
 ('006', '015'): ('20081023065939006', '20081023024930015'),
 ('006', '016'): ('20081112001438006', '20081112000105016'),
 ('006', '007'): ('20081116060235006', '20081116091403007'),
 ('008', '012'): ('20081028102134008', '20081028092335012'),
 ('008', '084'): ('20081024132624008', '20081024130403084'),
 ('009', '012'): ('20081112001804009', '20081112013253012'),
 ('010', '124'): ('20081003221227010', '20081003221227124'),
 ('011', '017'): ('20081110081234011', '20081110075608017'),
 ('011', '088'): ('20080926104408011', '20080926104408088'),
 ('011', '062'): ('20081112091111011', '20081112101140062'),
 ('012', '042'): ('20081005084409012', '20081005094109042'),
 ('012', '127'): ('20080927005735012', '20080927005735127'),
 ('013', '015'): ('20081020092505013', '20081020092056015'),
 ('012', '144'): ('20081203012029012', '20081203094240144'),
 ('012', '126'): ('20081122143235012', '20081122143235126'),
 ('012', '167'): ('20081122143235012', '20081122143235167'),
 ('013', '014'): ('20081203232323013', '20081203234207014'),
 ('013', '070'): ('20080927120819013', '20080927120819070'),
 ('013', '062'): ('20081017093105013', '20081017085919062'),
 ('014', '015'): ('20081028000349014', '20081027235238015'),
 ('013', '068'): ('20081201090935013', '20081201075005068'),
 ('014', '016'): ('20081107081230014', '20081107090805016'),
 ('014', '036'): ('20090302050308014', '20090302045708036'),
 ('014', '032'): ('20081216235109014', '20081216234852032'),
 ('014', '017'): ('20081203234207014', '20081204000245017'),
 ('014', '062'): ('20081105102527014', '20081105102345062'),
 ('014', '035'): ('20090302080947014', '20090302071635035'),
 ('015', '032'): ('20081202105722015', '20081202105722032'),
 ('015', '017'): ('20081107091356015', '20081107091420017'),
 ('014', '126'): ('20090120060039014', '20090120055508126'),
 ('014', '167'): ('20090120060039014', '20090120055508167'),
 ('017', '024'): ('20090217001316017', '20090216232537024'),
 ('014', '128'): ('20090318054636014', '20090318082038128'),
 ('017', '142'): ('20081224045030017', '20081224055406142'),
 ('017', '025'): ('20090702094931017', '20090702091404025'),
 ('018', '062'): ('20081106024303018', '20081106024201062'),
 ('018', '019'): ('20081214093422018', '20081214092748019'),
 ('020', '102'): ('20111115013237020', '20111115012432102'),
 ('020', '165'): ('20111025142225020', '20111025140340165'),
 ('022', '043'): ('20090219110435022', '20090219094257043'),
 ('022', '044'): ('20090327003702022', '20090326232732044'),
 ('023', '043'): ('20090214032849023', '20090214032955043'),
 ('025', '034'): ('20090313105308025', '20090313110440034'),
 ('025', '037'): ('20090402044230025', '20090402050032037'),
 ('025', '083'): ('20090110114230025', '20090110113232083'),
 ('025', '039'): ('20090321060146025', '20090321050936039'),
 ('028', '044'): ('20090309222637028', '20090309232537044'),
 ('028', '043'): ('20090319222233028', '20090320020330043'),
 ('029', '038'): ('20090316090503029', '20090316092545038'),
 ('030', '044'): ('20090325004303030', '20090325051859044'),
 ('025', '128'): ('20090614085036025', '20090614070352128'),
 ('034', '044'): ('20090227114002034', '20090227100953044'),
 ('034', '035'): ('20090219035926034', '20090218215133035'),
 ('034', '128'): ('20090310123126034', '20090310124033128'),
 ('034', '037'): ('20090326100917034', '20090326100941037'),
 ('037', '041'): ('20090227021015037', '20090227040433041'),
 ('042', '085'): ('20081009044615042', '20081009044230085'),
 ('042', '096'): ('20081013141537042', '20081013141459096'),
 ('042', '127'): ('20081005094109042', '20081005084409127'),
 ('043', '044'): ('20090327004006043', '20090326232732044'),
 ('045', '067'): ('20100812153736045', '20100812145200067'),
 ('044', '085'): ('20090322092507044', '20090322095236085'),
 ('047', '055'): ('20070801104700047', '20070801023506055'),
 ('046', '169'): ('20100511101325046', '20100511102403169'),
 ('044', '128'): ('20090309103618044', '20090309092439128'),
 ('046', '113'): ('20100519002637046', '20100519003829113'),
 ('047', '061'): ('20070809003538047', '20070808234118061'),
 ('051', '104'): ('20071130173419051', '20071130143451104'),
 ('051', '110'): ('20071130173419051', '20071130143734110'),
 ('055', '075'): ('20110803091252055', '20110803091252075'),
 ('052', '167'): ('20080825085006052', '20080825091332167'),
 ('056', '114'): ('20071019052441056', '20071019052429114'),
 ('056', '082'): ('20071128123035056', '20071128123035082'),
 ('057', '061'): ('20070731114843057', '20070731115055061'),
 ('057', '150'): ('20070731114843057', '20070731114843150'),
 ('057', '094'): ('20070731114843057', '20070731114843094'),
 ('056', '115'): ('20071128123035056', '20071128123035115'),
 ('057', '157'): ('20070731114843057', '20070731114756157'),
 ('056', '128'): ('20071128123035056', '20071128123035128'),
 ('056', '175'): ('20071019052441056', '20071019052315175'),
 ('061', '094'): ('20070731115055061', '20070731114843094'),
 ('056', '163'): ('20071019052441056', '20071019015704163'),
 ('061', '150'): ('20070731115055061', '20070731114843150'),
 ('061', '162'): ('20070802120435061', '20070802120734162'),
 ('058', '059'): ('20110309105252058', '20110309105252059'),
 ('061', '157'): ('20070731115055061', '20070731114756157'),
 ('062', '064'): ('20080815075832062', '20080815074715064'),
 ('064', '096'): ('20080826002736064', '20080826011559096'),
 ('067', '095'): ('20101206191924067', '20101206191924095'),
 ('069', '129'): ('20080501232404069', '20080501232453129'),
 ('071', '074'): ('20120201141033071', '20120201141229074'),
 ('073', '078'): ('20080529155904073', '20080529155909078'),
 ('071', '159'): ('20120412235005071', '20120413005853159'),
 ('073', '112'): ('20080529155904073', '20080529155631112'),
 ('073', '096'): ('20080806012852073', '20080806012229096'),
 ('073', '128'): ('20080530121116073', '20080530120255128'),
 ('073', '136'): ('20080530121116073', '20080530054607136'),
 ('073', '153'): ('20080530121116073', '20080530120255153'),
 ('073', '167'): ('20080716101931073', '20080716101735167'),
 ('076', '128'): ('20070419002322076', '20070419015158128'),
 ('078', '093'): ('20080819020653078', '20080819051710093'),
 ('078', '112'): ('20080508093316078', '20080508094734112'),
 ('078', '084'): ('20080723145229078', '20080723104334084'),
 ('081', '125'): ('20080509081231081', '20080509081231125'),
 ('081', '136'): ('20080509081231081', '20080509081231136'),
 ('078', '085'): ('20080723145229078', '20080723104334085'),
 ('081', '153'): ('20080530065051081', '20080530063801153'),
 ('078', '167'): ('20080819020653078', '20080819040135167'),
 ('081', '112'): ('20080530065051081', '20080530063309112'),
 ('082', '084'): ('20090404024103082', '20090404031734084'),
 ('082', '115'): ('20071128123035082', '20071128123035115'),
 ('082', '163'): ('20071128123035082', '20071128095038163'),
 ('082', '128'): ('20071128123035082', '20071128123035128'),
 ('081', '128'): ('20080530065051081', '20080530063801128'),
 ('084', '085'): ('20080721232434084', '20080721232434085'),
 ('084', '126'): ('20081203130756084', '20081203151159126'),
 ('085', '126'): ('20081009044230085', '20081009042429126'),
 ('085', '155'): ('20090622012237085', '20090622011104155'),
 ('084', '153'): ('20081025095702084', '20081025095936153'),
 ('087', '111'): ('20070817145052087', '20070817145052111'),
 ('084', '167'): ('20081203130756084', '20081203151159167'),
 ('089', '144'): ('20080428110410089', '20080428110410144'),
 ('089', '163'): ('20080430122539089', '20080430122452163'),
 ('089', '153'): ('20080510110634089', '20080510111115153'),
 ('085', '167'): ('20081009044230085', '20081009042429167'),
 ('091', '163'): ('20071122165353091', '20071122164907163'),
 ('092', '101'): ('20071130143600092', '20071130143617101'),
 ('092', '104'): ('20071130143600092', '20071130143451104'),
 ('092', '109'): ('20071130143600092', '20071130143617109'),
 ('084', '128'): ('20081128135605084', '20081128094132128'),
 ('094', '150'): ('20070731114843094', '20070731114843150'),
 ('094', '157'): ('20070731114843094', '20070731114756157'),
 ('092', '115'): ('20080714074403092', '20080714065739115'),
 ('093', '167'): ('20080819051710093', '20080819040135167'),
 ('096', '167'): ('20080716112753096', '20080716101735167'),
 ('096', '128'): ('20080813010535096', '20080813004435128'),
 ('096', '179'): ('20081026113752096', '20081026113752179'),
 ('101', '104'): ('20071130143617101', '20071130143451104'),
 ('101', '109'): ('20071130143617101', '20071130143617109'),
 ('096', '126'): ('20080919035429096', '20080919035438126'),
 ('100', '116'): ('20110803093537100', '20110803091631116'),
 ('101', '173'): ('20071130143617101', '20071130143633173'),
 ('101', '126'): ('20080522095436101', '20080522095436126'),
 ('101', '174'): ('20071227135255101', '20071227124344174'),
 ('104', '109'): ('20071130143451104', '20071130143617109'),
 ('085', '128'): ('20090509025852085', '20090509025010128'),
 ('096', '153'): ('20080724105004096', '20080724131623153'),
 ('104', '173'): ('20071130143451104', '20071130143633173'),
 ('108', '139'): ('20071002142515108', '20071002142515139'),
 ('109', '173'): ('20071130143617109', '20071130143633173'),
 ('110', '167'): ('20080320004131110', '20080320004131167'),
 ('105', '106'): ('20071009070104105', '20071008231624106'),
 ('111', '128'): ('20070415004923111', '20070414234445128'),
 ('112', '163'): ('20080428131300112', '20080428131300163'),
 ('112', '142'): ('20080520113416112', '20080520113618142'),
 ('112', '125'): ('20080530063309112', '20080530065051125'),
 ('112', '136'): ('20080530063309112', '20080530054607136'),
 ('112', '153'): ('20080530063309112', '20080530063801153'),
 ('114', '163'): ('20071019052429114', '20071019015704163'),
 ('114', '175'): ('20071019052429114', '20071019052315175'),
 ('113', '169'): ('20100513102400113', '20100513105328169'),
 ('112', '128'): ('20080530063309112', '20080530063801128'),
 ('114', '128'): ('20100604132602114', '20100604132706128'),
 ('112', '167'): ('20080520113416112', '20080520113416167'),
 ('115', '128'): ('20071128123035115', '20071128123035128'),
 ('115', '140'): ('20080818151615115', '20080818151615140'),
 ('115', '163'): ('20071128123035115', '20071128095038163'),
 ('115', '167'): ('20080507011357115', '20080507013834167'),
 ('117', '128'): ('20070629150221117', '20070629150321128'),
 ('125', '136'): ('20080509081231125', '20080509081231136'),
 ('125', '153'): ('20080530065051125', '20080530063801153'),
 ('125', '128'): ('20080530065051125', '20080530063801128'),
 ('126', '129'): ('20080516102407126', '20080516102928129'),
 ('126', '167'): ('20080402174247126', '20080402104425167'),
 ('126', '174'): ('20080522095436126', '20080522093956174'),
 ('128', '153'): ('20070721050708128', '20070721050708153'),
 ('126', '128'): ('20080517014739126', '20080517020041128'),
 ('128', '136'): ('20080530063801128', '20080530054607136'),
 ('128', '163'): ('20071128123035128', '20071128095038163'),
 ('128', '142'): ('20080519013642128', '20080519014437142'),
 ('128', '170'): ('20080429013145128', '20080429013805170'),
 ('128', '179'): ('20080905010442128', '20080905010935179'),
 ('128', '155'): ('20090709130646128', '20090709130404155'),
 ('134', '161'): ('20070424042157134', '20070424041508161'),
 ('134', '142'): ('20070424061335134', '20070424013426142'),
 ('136', '153'): ('20080530054607136', '20080530063801153'),
 ('142', '161'): ('20070412093132142', '20070412102325161'),
 ('142', '163'): ('20070412093132142', '20070412102116163'),
 ('128', '140'): ('20080924064907128', '20080924020707140'),
 ('128', '167'): ('20080718014139128', '20080718020353167'),
 ('144', '163'): ('20080430122539144', '20080430122452163'),
 ('142', '167'): ('20080520113618142', '20080520113416167'),
 ('144', '153'): ('20080510110634144', '20080510111115153'),
 ('150', '157'): ('20070731114843150', '20070731114756157'),
 ('142', '169'): ('20100604013359142', '20100604012003169'),
 ('153', '163'): ('20080405011127153', '20080405011127163'),
 ('161', '163'): ('20070412101853161', '20070412102116163'),
 ('163', '175'): ('20071019015704163', '20071019052315175'),
 ('164', '176'): ('20071130075508164', '20071130093310176')}